@page
@model ClothingStore.Pages.AddProductModel
@{
}
<form method="post">
    <div class="border p-3 mt-4 ">
            <div class="row pb-2">
                <h2 class="text-dark pl-3 ">Create Product</h2>
                <hr />

                <div class="form-group">
                <label asp-for="InputProduct">ProductName</label>
                    <input asp-for="InputProduct.ProductName" class="form-control" id="AddProductName">
                    <span asp-validation-for="InputProduct.ProductName" style="color:darkred"></span>
                </div>

                <div class="form-group">
                <label asp-for="InputProduct">Description</label>
                    <input asp-for="InputProduct.Description" class="form-control" id="AddDescription">
                    <span asp-validation-for="InputProduct.Description" style="color:darkred"></span>
                </div>
                    
                
                <div class="form-group">
                <label asp-for="InputProduct">Category</label>
                    <input asp-for="InputProduct.Category" class="form-control" id="AddCategory">
                    <span asp-validation-for="InputProduct.Category" style="color:darkred"></span>
                </div>
                 
            </div>

            <div class="form-group">
            <label asp-for="InputProduct">Price</label>
                <input asp-for="InputProduct.Price" class="form-control" id="AddPrice">
                <span asp-validation-for="InputProduct.Price" style="color:darkred"></span>
            </div>


            <div class="form-group">
            <label asp-for="InputProduct">ImgPath</label>
                <input asp-for="InputProduct.ImgPath" class="form-control" id="AddImgPath">
                <span asp-validation-for="InputProduct.ImgPath" style="color:darkred"></span>
            </div>


    @*        <div class="form-group">
                <label asp-for="InputProduct">Manufacturer</label>
            <input asp-for="InputProduct.Manufacturer" class="form-control" id="AddManufacturer">
            <span asp-validation-for="InputProduct.Manufacturer" style="color:darkred"></span>
            </div>

            <div class="form-group">
                <label asp-for="InputProduct">Provider</label>
            <input asp-for="InputProduct.Provider" class="form-control" id="AddProvider">
            <span asp-validation-for="InputProduct.Provider" style="color:darkred"></span>
            </div>*@

      

       
        <button type="submit" class="btn btn-secondary w-25">Commit</button>
    </div>
</form>