@page
@model ClothingStore.Pages.ProductModel
@{
}

<div class="card shadow mb-2 " style=" background-color:#D7D6D6;">
 
        <div class="card shadow text-dark bg-light m-3 " style="">

            <div class="card-body border rounded-3" style="background-color:#ACACAC;  position-relative;">
                <div>

                    <div style="display:flex; font-size: 26px; border-bottom: 0.1px solid gray">
                        <p class="ms-1">ProductName</p>
                        <p class="ms-2">Description</p>
                        <p class="ms-2">Price</p>
                   
                       
                    </div>

                   

                </div>
            </div>
        </div>
 
</div>
